.timer-container {
    min-height: 90vh;
    background-color: #DDE6ED;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c7c4cb' fill-opacity='0.18'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#timerNavigation {
    background-color: rgba(0, 0, 0, 0.4);
}

.timerApp {
    width: 45% !important;
    border: 1px solid rgba(232, 235, 238, 0.3);
}

#addBtn {
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-style: dashed;
    letter-spacing: 1px;
    font-size: 16px;
}

#addBtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-toggle::after {
    display: none !important;
    /* color: #b62525 */
    /* '#D24545' */
}

#taskform {
    display: none;
}

.dropdown-toggle:focus {
    outline: none !important;
}

/* task form */
.descript, .project {
    text-align: justify;
    padding: 10px;
    background-color: rgb(227, 227, 128);
}

.project {
    background-color: rgb(116, 244, 116);
}

/* timer */

.nav-pills .nav-link.active {
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

#stop {
    display: none;
}

#stop:hover {
    transform: scale(1.2);
    border: none;
}   

#finish {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#dropdown-task {
    float: right;
}

#formElement {
    clear: both;
}

.act {
    float: right;
    margin-right: 10px;
    color: grey;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .timerApp {
        width: 100% !important;
    }
    #task-btn {
        display: flex;
    }
}
